* {
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(35, 35, 35);
  color: whitesmoke;
  text-align: center;
  font-family: "Kanit", sans-serif;
}

.bmiH1 {
  margin-bottom: -10px;
}

.user-input {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center;
  background-color: rgb(227, 227, 227);
  width: 15%;
  margin: auto;
  padding: 20px;
  border-radius: 50px;
  color: rgb(17, 17, 17);
  -webkit-box-shadow: -1px 17px 46px -20px rgba(255, 255, 255, 0.77);
  -moz-box-shadow: -1px 17px 46px -20px rgba(255, 255, 255, 0.77);
  box-shadow: -1px 17px 46px -20px rgba(255, 255, 255, 0.77);
  margin-bottom: 30px;
}

input:hover {
  transform: scale(103%);
  transition: 0.5s;
  cursor: pointer;
}

.btns {
  display: flex;
  padding: 5px;
}

.radios {
  display: flex;
  align-items: center;
}

.radios h4 {
  margin-right: 10px; /* Adjust as needed */
  margin-left: 5px;
}

.radios input[type="radio"] {
  margin-right: 10px;
}

.user-input button {
  border: none;
  height: 50px;
  width: 100px;
  background-color: #0056b3;
  color: whitesmoke;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  transform: scale(103%);
  transition: 0.5s;
  cursor: pointer;
  background-color: #36581b;
}

.w {
  display: flex;
  align-items: center;
}

.w h4 {
  margin: 10px;
}

.results {
  padding: 20px;
  margin: auto;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Adjusted to align items to the left */
  justify-content: center;
  background-color: rgb(227, 227, 227);
  width: 15%;
  margin: auto;
  text-align: center;
  align-items: center;
  color: whitesmoke;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  flex-direction: column;
}

form h1 {
  color: whitesmoke;
  font-weight: 500;
}

.nextBtn {
  width: 120px;
  height: 60px;
  border: none;
  background-color: #0056b3;
  margin-top: 30px;
  color: whitesmoke;
}

.bmiP {
  color: #8d8d8d;
  width: 40%;
}

.p-msg {
  margin-top: -10px;
}
