@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* Fade in to full opacity */
  }
}

body {
  background-color: #171717;
  animation-name: fadeIn; /* Name of the animation */
  animation-duration: 2s; /* Duration of the animation */
  animation-fill-mode: forwards; /* Maintain final state after animation */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set container height to full viewport height */
}

h1 {
  color: #8d8d8d; /* Adjust text color as needed */
  font-size: 4.5rem;
}

button {
  padding: 10px 20px; /* Adjust padding as needed */
  width: 150%;
  background-color: #007bff; /* Adjust button color as needed */
  color: #e0e0e0; /* Adjust button text color as needed */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 32px; /* Adjust font size as needed */
}

button:hover {
  background-color: #0056b3; /* Adjust hover color as needed */
}

.h1ex {
  font-size: 1rem;
}
